<div class="main">
<%= month_calendar events: @items do |date, items| %>
  <%= date %>

<div class="item-content">
  <% items.each do |item| %>
    <div class="item-detail">
    <li><%= item.name %></li>
    <li><%= "#{item.price}円" %></li>
    </div>
    <div class="item-media">
    <% if item.media_url_1.present? %>
      <!--<img src="<%= item.media_url_1 %>" width="50" height="50">-->
      <a href="<%= item.media_url_1 %>" >
      <img src="<%= item.media_url_1 %>" width="50" height="50"></a>
    <% end %>
    <% if item.media_url_2.present? %>
      <!--<img src="<%= item.media_url_2 %>" width="50" height="50">-->
      <a href="<%= item.media_url_2 %>" >
      <img src="<%= item.media_url_2 %>" width="50" height="50"></a>
    <% end %>
    <% if item.media_url_3.present? %>
      <!--<img src="<%= item.media_url_3 %>" width="50" height="50">-->
      <a href="<%= item.media_url_3 %>" >
      <img src="<%= item.media_url_1 %>" width="50" height="50"></a>
    <% end %>
    <% if item.media_url_4.present? %> 
      <!--<img src="<%= item.media_url_4 %>" width="50" height="50">-->
      <a href="<%= item.media_url_4 %>" >
      <img src="<%= item.media_url_1 %>" width="50" height="50"></a>
    <% end %>
    </div>
</div>
    



    </div>
  <% end %>
<% end %>
</div>