<div class="main">
    <h1>投稿する</h1>
    <!--createアクションに送る-->
    <%=form_with url: "/trade/create" do |f| %>
        <textarea rows="10" cols="60" name="content">ここに入力してください</textarea>
        <%= hidden_field_tag :is_assignment, false %>
        <%= f.label :"募集" %>
        <%= f.check_box :is_assignment, {}, true, false %>
        <%= f.label :"譲渡" %>
        <%= hidden_field_tag :is_requirement, false %>
        <%= f.check_box :is_requirement, {}, true, false %>

        <input type="submit" value="投稿する">
    <% end %>
</div>