<!DOCTYPE html>
<html>
  <head>
    <title>Nankabenri</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <div class="hader-logo">
        <%= link_to("なんかべんりなサイト", "/") %>
      </div>
      <ul class="header-menus">
        <li>
          <%= link_to("なんかべんりなサイトとは？", "/about") %>
        </li>
        <li>
          <%= link_to("グッズ発売日カレンダー", "/calendar") %>
        </li>
        <li>
          <%= link_to("交換掲示板", "/trade") %>
        </li>
        <li>
          <%= link_to("イベント情報", "/event") %>
    </header>
    <%= yield %>
  </body>
</html>
